body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;

  background-color: #f1dedeff;
  --other-color: #52ff55;
  --beige: #f1dedeff;
  --green: #84dcc6ff;
  --dark: #141c28ff;
  --red: #fa5256ff;
  --peach: #fe938cff;
  user-select: none;
}

h2 {
  margin: 1vh;
  text-align: center;
}

.select {
  -webkit-appearance: none;
  background-color: #141c28ff;
  height: 4vh;
  width: 8vw;
  color: #f1dedeff;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 45vh;
  width: 50vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  all: unset;
}

.input {
  background-color: #141c28ff;
  color: #f1dedeff;
  font-weight: bold;
  font-size: large;
  text-align: center;
  height: 1.5vh;
  width: 8vw;
  border-radius: 30px;
  padding: 10px;
}

.button {
  all: unset;
  height: 4vh;
  width: 12vw;
  background-color: #141c28ff;
  color: #f1dedeff;
  text-align: center;
  font-weight: bold;
  font-size: large;
  transition: 0.1s ease-in-out;
  margin: 2vh;
}

.button:hover {
  scale: 1.2;
  transition: 0.1s ease-in-out;
  color: #52ff55;
}

#shuffle:hover {
  color: #fa5256ff;
}
